// 左侧锚点样式
:deep(.custom-anchor) {
  background-color: var(--menu-background);
}

// 表单项
:deep(.el-form-item) {
  margin-bottom: 0px !important;
  .el-form-item__content {
    .el-input {
      .el-input__wrapper{
        height: map-get($form-config, item-height);
      }
      .el-input__inner {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
        color: map-get($form-config, font-color);
      }
      .el-input__placeholder {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
      }
      .el-input__prefix {
        .el-input__prefix-inner {
          font-size: map-get($form-config, font-size);
        }
      }
      .el-input__suffix {
        .el-input__suffix-inner {
          font-size: map-get($form-config, font-size);
        }
      }
    }
    .el-select {
      .el-select__wrapper {
        // height: map-get($form-config, item-height) !important;
        min-height: map-get($form-config, item-height) !important;
        font-family: map-get($form-config, font-family);
      }
      .el-select__input {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
        color: map-get($form-config, font-color);
        line-height: 100%;
        height: 100%;
      }

      .el-select__placeholder {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
      }
      .el-select__selection.is-near {
        margin-left: 0px;
      }
      .el-select__selection .el-tag {
        height: 100%;
      }
    }
  }
}



// 表单容器
.form-container {
  max-width: 100%;
  padding: 3px;
  //border-radius: 8px;
  //box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

// 自定义表单样式
:deep(.custom-form) {
  // 应用全局表单字体样式
  font-size: map-get($form-config, font-size);
  //line-height: map-get($form-config, line-height);

  .group-input__items {
    .el-form-item {
      margin-top: 4px;
    }
    .show-group__row {
      align-items: center !important;
      .show-group__col {
        height: map-get($form-config, item-height) !important;
      }
    }
  }
  // 表单项样式
  .el-form-item, .group-input__items {
    // Label标签样式
    .el-form-item__label {
      .el-text, .span {
        font-size: map-get($form-config, label-font-size);
        font-weight: map-get($form-config, label-font-weight);
        color: map-get($form-config, label-color);
        padding: map-get($form-config, label-padding);
        //font-family: map-get($form-config, font-family);
      }
    }

    // 表单项内容区域（与label对应）
    .el-form-item__content {
      .el-input {
        .el-input__wrapper{
          height: map-get($form-config, item-height);
        }
        .el-input__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-input__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
        .el-input__prefix {
          .el-input__prefix-inner {
            font-size: map-get($form-config, font-size);
          }
        }
        .el-input__suffix {
          .el-input__suffix-inner {
            font-size: map-get($form-config, font-size);
          }
        }
      }
      .el-textarea {
        .el-textarea__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-textarea__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }
      // 下拉选择器样式
      .el-select {
        .el-select__wrapper {
          height: map-get($form-config, item-height) !important;
          min-height: map-get($form-config, item-height) !important;
          font-family: map-get($form-config, font-family);
        }
        .el-select__input {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
          line-height: 100%;
          height: 100%;
        }
        .el-select__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
        .el-select__selection.is-near {
          margin-left: 0px;
        }
        .el-select__selection .el-tag {
          height: 100%;
        }
      }

      // 日期选择器输入框样式
      .el-date-editor, .el-input, .el-input__wrapper {
        height: map-get($form-config, item-height) !important;
        .el-range-input {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
      }
      .el-date-picker {
        .el-input__wrapper {
          height: map-get($form-config, item-height);
        }
        .el-date-picker__input {
          height: map-get($form-config, item-height) !important;
        }
        .el-input__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-input__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }
      .el-button {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
        height: map-get($form-config, item-height);
      }


      // input + btn 样式
      .show-right-btn {
        .el-input,
        .el-input-number,
        .el-textarea,
        .el-select,
        .el-date-picker {
          .el-select__wrapper {
            border-radius: 3px 0 0 3px;
          }
          .el-input__wrapper {
            border-radius: 3px 0 0 3px;
          }
        }
        .el-button {
          border-radius: 0 3px 3px 0;
        }
      }

      // inputgroup 样式
      .show-group-left__item {
        .el-input,
        .el-input-number,
        .el-textarea,
        .el-select,
        .el-date-picker {
          .el-select__wrapper {
            border-radius: 3px 0 0 3px;
          }
          .el-input__wrapper {
            border-radius: 3px 0 0 3px;
          }
        }
      }
      .show-group-center__item {
        .el-input,
        .el-input-number,
        .el-textarea,
        .el-select,
        .el-date-picker {
          .el-select__wrapper {
            border-radius: 0;
          }
          .el-input__wrapper {
            border-radius: 0;
          }
        }
      }
      .show-group-right__item {
        .el-input,
        .el-input-number,
        .el-textarea,
        .el-select,
        .el-date-picker {
          .el-select__wrapper {
            border-radius: 0 3px 3px 0;
          }
          .el-input__wrapper {
            border-radius: 0 3px 3px 0;
          }
        }
      }
    }
  }
}


// 自定义表格样式
:deep(.custom-table) {
  // 应用全局表单字体样式
  font-size: map-get($form-config, font-size);
  line-height: map-get($form-config, line-height);

  // 表头字体颜色
  .el-table__header {
    .el-table__cell {
     color: map-get($form-config, label-color) !important;
    }
  }

  // 表单项样式
  .el-form-item {
    width: 100%;
    display: flex;
    // Label标签样式
    .el-form-item__label {
      font-size: map-get($form-config, label-font-size);
      font-weight: map-get($form-config, label-font-weight);
      color: map-get($form-config, label-color);
      padding: map-get($form-config, label-padding);
      //font-family: map-get($form-config, font-family);
    }

    // 表单项内容区域（与label对应）
    .el-form-item__content {
      // 所有输入控件继承字体样式
      .el-input {
        .el-input__wrapper{
          height: map-get($form-config, item-height);
        }
        .el-input__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-input__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }
      .el-textarea {
        .el-textarea__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-textarea__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }
      // 下拉选择器样式
      .el-select {
        .el-select__wrapper {
          height: map-get($form-config, item-height) !important;
          min-height: map-get($form-config, item-height) !important;
          font-family: map-get($form-config, font-family);
        }
        .el-select__input {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }

        .el-select__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }

      // 日期选择器输入框样式
      .el-date-picker {
        .el-input__wrapper{
          height: map-get($form-config, item-height);
        }
        .el-input__inner {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
          color: map-get($form-config, font-color);
        }
        .el-input__placeholder {
          font-family: map-get($form-config, font-family);
          font-size: map-get($form-config, font-size);
        }
      }

      .el-text {
        font-family: map-get($form-config, font-family);
        font-size: map-get($form-config, font-size);
        color: map-get($form-config, font-color);
      }

      .el-button {
        font-family: inherit;
        font-size: inherit;
      }

      // input + btn 样式
      .show-right-btn {
        .el-input,
        .el-input-number,
        .el-textarea,
        .el-select,
        .el-date-picker {
          .el-select__wrapper {
            border-radius: 3px 0 0 3px;
          }
          .el-input__wrapper {
            border-radius: 3px 0 0 3px;
          }
        }
        .el-button {
          border-radius: 0 3px 3px 0;
          height: calc(map-get($form-config, item-height) + 0.5px) !important;
          background-color: var(--el-color-primary);
        }
      }

    }
  }

  // 表格组件里处理的值 单独给样式
  .rt-table-formatter-text {
    font-family: map-get($form-config, font-family);
    font-size: map-get($form-config, font-size);
    color: map-get($form-config, font-color);
  }
}
