/** 全局SCSS变量 */
:root {
   --menu-background: #f0f5f9;
   --menu-active-text: #FF8C00;
   --menu-hover:  #FF8C00;
   --menu-active-bg-color: rgba(229, 224, 224, 0.45);
   --el-card-header-bg-color: rgba(245, 250, 255, 0.86);

  // 只读状态字体颜色调整
  --el-disabled-text-color: #777;
  --font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //--font-family: 'Source code Pro', monospace;
  //--font-family: 'Noto Sans SC', sans-serif;
  --wrapper-required-bg-color:  #FEFAF1 !important;
  --rt-bg-color: #FFFFFF !important;

  --dashboard-bg: url("@/assets/img/home_bg1.png");
  --el-text-color-regular: #000;
  --card-group-header-bg-color: #f2f2f2;
  --cvrg-sub-header-bg-color: rgba(214, 254, 255, 0.6);
}

// 主题
html.sentimental {
  --menu-background: #bad7df;
  --menu-active-text: #FFAAA6;
  --sidebar-logo-background: #bad7df;
  --menu-hover: #FFAAA6;
  --menu-text: #333;
}
html.simple {
  --menu-background: #52616b;
  --sidebar-logo-background: #52616b;
  --menu-active-text: #838a90;
  --menu-hover: #c9d6df;
  --menu-text: #fff;
}
html.linen {
  --menu-background: #476d7c;
  --sidebar-logo-background: #476d7c;
  --menu-active-text: #62929a;
  --menu-hover: #62929a;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}

html.graceful {
  --menu-background: #596e79;
  --sidebar-logo-background: #596e79;
  --menu-active-text: #c7b198;
  --menu-hover: #c7b198;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}
html.summer {
  --menu-background: #40bfc1;
  --sidebar-logo-background: #40bfc1;
  --menu-active-text: #ff6f5e;
  --menu-hover: #ff6f5e;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}
html.blue {
  --menu-background: #3a76c6;
  --sidebar-logo-background: #3a76c6;
  --menu-active-text: #ff6f5e;
  --menu-hover: #ff6f5e;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}
html.orange {
  --menu-background: #f57c10;
  --sidebar-logo-background: #f57c10;
  --menu-active-text: #ff6f5e;
  --menu-hover: #ff6f5e;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}
html.green {
  --menu-background: #09d067;
  --sidebar-logo-background: #09d067;
  --menu-active-text: #ff6f5e;
  --menu-hover: #ff6f5e;
  --menu-text: #fff;
  --el-text-color: #000 !important;
}


/** 暗黑主题 */
html.dark {
  --menu-background: rgb(0 0 0 / 80%);
  --menu-text: #fff !important;
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgba(255, 255, 255, 0.6);
  --el-text-color: #b9b9b9 !important;
  --el-card-header-bg-color: rgb(0 0 0 / 90%);
  .el-menu-item.is-active {
    background-color: rgb(0 0 0 / 20%) !important;
  }
  --card-header-title-size: 15px;
  --card-header-title-color: #ccc !important;
  --cvrg-sub-header-bg-color: rgb(0 0 0 / 80%);
  --card-group-header-bg-color: rgb(0 0 0 / 80%);

  --rt-bg-color: rgb(0 0 0 / 85%) !important;
  --el-mypage-right-menu-border-color: rgb(150 150 150 / 40%);
  --el-menu-border-color: rgb(100 100 100 / 20%);
  --wrapper-required-bg-color: rgb(0 0 0 / 80%) !important;

  --dashboard-bg: rgb(0 0 0 / 85%) !important;
  --el-text-color-regular: #b9b9b9;
}

$menu-background: var(--menu-background); // 菜单背景色
$menu-text: var(--menu-text); // 菜单文字颜色
$menu-active-text: var(--menu-active-text); // 菜单激活文字颜色
$menu-hover: var(--el-color-primary); // 菜单悬停背景色
$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色

.el-menu-item:hover,.el-menu-item.is-active {
  background-color: var(--el-color-primary) !important;
  color: #FFFFFF!important;
}
.el-sub-menu__title:hover {
  background-color: var(--el-color-primary);
  color: #FFFFFF;
}

$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 45px; // 导航栏高度
$tags-view-height: 34px; // TagsView 高度



$font-config: (
  font-family: var(--font-family),
  font-color: var(--el-text-color),
);


// 字体和标签样式配置变量
$form-config: (
  // 统一高度
  item-height: 25px,
// 表单全局字体设置
  font-family: var(--font-family),
  font-size: 11.5px,
  font-color: var(--el-text-color),
  line-height: 1.4,

// Label标签样式
  label-font-size: 11.5px,
  label-font-weight: 400, // 中等加粗
  label-color: var(--el-text-color),      // 标签文字颜色
  label-padding: 0 5px 0 0, // 标签内边距

// Label容器边框样式
  label-border: false,       // 是否显示边框
  label-border-width: 1px,
  label-border-color: #e5e7eb,
  label-border-radius: 3px,
  label-bg-color: #f9fafb,   // 标签背景色
);
