/** 全局SCSS变量 */
:root {
  // 只读状态字体颜色调整
  --el-disabled-text-color: #000000;
  --el-card-header-bg-color: rgba(245, 250, 255, 0.86);
  --font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //--font-family: 'Source code Pro', monospace;
  //--font-family: 'Noto Sans SC', sans-serif;
  --wrapper-required-bg-color:  #FEFAF1 !important;
  --dashboard-bg: url("@/assets/img/home_bg1.png");
  --el-text-color-regular: #000;

  --card-group-header-bg-color: #f2f2f2;
  --card-group-header-title-size: 14px;
  --card-header-title-size: 15px;

  --cvrg-group-header-bg-color: rgba(0,0,0,0.04);
  --el-mypage-right-menu-border-color: rgb(50 50 50 / 10%);

  --rt-bg-color: #FFFFFF !important;
  --rt-border: rgb(100 100 100 / 20%) 1px solid !important;
  --rt-overlay-color: rgb(20 20 20 / 10%) !important;

  --rt-form-item-radius: 2px;
  --rt-form-content-font-size: 12px; // 表单content字体大小
  --rt-form-content-font-weight: 450;
  --rt-form-content-height: 24px; // 表单content高
  --rt-form-content-line-height: 24px;
  --rt-form-label-font-size: 12px; // 表单label字体大小
  --rt-form-label-font-weight: 400;
  --rt-form-label-font-color: #000000;
  --rt-form-label-padding: 0 3px 0 0, // 标签内边距
}



html.default {
  --menu-background: #f0f5f9;;
  --menu-active-text: #FFFFFF;
  --menu-hover: rgba(171, 212, 253, 0.4);
  --menu-text: #000000;
  --el-text-color: #000 !important;

  --cvrg-sub-header-bg-color: rgba(165, 204, 255, 0.35);
  --cvrg-select-row-bg-color: rgba(165, 204, 255, 0.25);
  --rt-select-row-bg-color: rgba(165, 204, 255, 0.15);
}
html.orange {
  --menu-background: #f0f5f9;;
  --menu-active-text: #FFFFFF;
  --menu-hover: rgba(236, 177, 148, 0.4);
  --menu-text: #000000;
  --el-text-color: #000 !important;

  --cvrg-sub-header-bg-color: rgba(255, 211, 169, 0.35);
  --cvrg-select-row-bg-color: rgba(255, 211, 169, 0.25);
  --rt-select-row-bg-color: rgba(255, 211, 169, 0.15);
}
html.green {
  --menu-background: #f0f5f9;
  --menu-active-text: #FFFFFF;
  --menu-hover: rgba(184, 248, 218, 0.4);
  --menu-text: #000;
  --el-text-color: #000 !important;

  --cvrg-sub-header-bg-color: rgba(168, 251, 207, 0.35);
  --cvrg-select-row-bg-color: rgba(168, 251, 207, 0.25);
  --rt-select-row-bg-color: rgba(168, 251, 207, 0.15);
}


/** 暗黑主题 */
html.dark {
  --menu-background: rgb(0 0 0 / 80%);
  --menu-text: #fff !important;
  --menu-hover: rgb(220 220 220 / 30%);

  --sidebar-logo-background: rgba(255, 255, 255, 0.6);
  --el-text-color: #b9b9b9 !important;
  --el-card-header-bg-color: rgb(0 0 0 / 90%);
  .el-menu-item.is-active {
    background-color: rgb(0 0 0 / 20%) !important;
  }
  --card-header-title-color: #ccc !important;
  --cvrg-sub-header-bg-color: rgb(0 0 0 / 80%);
  --cvrg-select-row-bg-color: rgba(155 155 155 / 10%);
  --card-group-header-bg-color: rgb(0 0 0 / 80%);
  --cvrg-group-header-bg-color: rgb(0 0 0 / 60%);

  --rt-bg-color: rgb(0 0 0 / 85%) !important;
  --rt-border: rgb(200 200 200 / 30%) 1px solid !important;
  --rt-overlay-color: rgb(200 200 200 / 10%) !important;
  --rt-select-row-bg-color: rgba(255, 255, 255, 0.1);

  --el-mypage-right-menu-border-color: rgb(150 150 150 / 40%);
  --el-menu-border-color: rgb(100 100 100 / 20%);
  --wrapper-required-bg-color: rgb(0 0 0 / 80%) !important;

  --dashboard-bg: rgb(0 0 0 / 85%) !important;
  --el-text-color-regular: #bababa;
  --rt-form-label-font-color: rgba(220, 220, 220, 0.5);
}

$menu-background: var(--menu-background); // 菜单背景色
$menu-text: var(--menu-text); // 菜单文字颜色
$menu-active-text: var(--menu-active-text); // 菜单激活文字颜色
$menu-hover: var(--el-color-primary); // 菜单悬停背景色
$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色

.el-menu-item:hover,.el-menu-item.is-active {
  background-color: var(--el-color-primary) !important;
  color: #FFFFFF!important;
}
.el-sub-menu__title:hover {
  background-color: var(--el-color-primary);
  color: #FFFFFF;
}

$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 38px; // 导航栏高度
$tags-view-height: 35px; // TagsView 高度
$menu-text-size: var(--menu-text-size);
